:root {
    --card-bg: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #bbb;
}

body {
    background-color: #222;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header,
footer {
    background-color: var(--card-bg);
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

header h1 {
    font-weight: 400;
}

.cards-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-bg);
    width: 300px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card-text {
    background-color: #111;
}

.card-image {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-image img {
    width: 100%;
}

.card-text {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

footer p {
    margin: 3px;
    font-size: 15px;
    font-weight: 200;
}

footer p a {
    color: #ddd;
    font-weight: 400;
}
