body {
    margin: auto;
}

.menu-btn-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-checkbox {
    display: none;
}

.menu-btn {
    background-color: hotpink;
    padding: 24px 26px;
    cursor: pointer;
    position: relative;
}

.ham-menu,
.cross {
    transition: all 0.5s ease;
}

.cross {
    position: absolute;
    top: 47%;
    left: 30%;
    right: 30%;
    transform: scale(0);
    opacity: 0;
}

.ham-menu div,
.cross div {
    background-color: black;
    width: 33px;
    height: 4px;
    border-radius: 100em;
}

.ham-menu div {
    margin: 6px 0;
}

.cross div {
    position: absolute;
}

.cross div:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: center;
}

.cross div:nth-child(2) {
    transform: rotate(-45deg);
    transform-origin: center;
}



#menu-checkbox:checked + label .ham-menu {
    transform: scale(2);
    opacity: 0;
}


#menu-checkbox:checked + label .cross {
    transform: scale(1);
    opacity: 1;
}
