body {
    margin: auto;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.bar {
    width: 15px;
    height: 30px;
    background-color: orange;
    animation: shrink 1s ease infinite;
    animation-delay: calc(100ms * var(--b));
    border: 1px solid #212121;
}

@keyframes shrink {
    50% {
        height: 70px;
    }
}
