body {
    margin: auto;
    font-family: sans-serif;
}

.button-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #92DE34;
    border-radius: 30px;
    color: #025600;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0 0 0 7px #92DE34 inset;
    background-image: linear-gradient(145deg,
            transparent 10%,
            #69BC22 10% 20%,
            transparent 20% 30%,
            #69BC22 30% 40%,
            transparent 40% 50%,
            #69BC22 50% 60%,
            transparent 60% 70%,
            #69BC22 70% 80%,
            transparent 80% 90%,
            #69BC22 90% 100%);
    animation: background 3s linear infinite;
}

@keyframes background {
    to {
        background-position: 400px 0;
    }
}
