body {
    margin: auto;
    font-family: sans-serif;
    background-color: rgb(143, 46, 214);
}

.button-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.button::before,
.button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.button::before {
    bottom: 0;
    left: -5px;
}

.button::after {
    top: 0;
    right: -5px;
}

.button:hover::before,
.button:hover::after {
    width: 106%;
}

.button div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.button div::before,
.button div::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.button div::before {
    top: -5px;
    right: 0;
}

.button div::after {
    bottom: -5px;
    left: 0;
}

.button div:hover::before,
.button div:hover::after {
    height: 120%;
}
