body {
    margin: auto;
}

.loader {
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots{
    margin: auto;
    
}

.dots div {
    height: 50px;
    background-color: dodgerblue;
    border-radius: 50%;
    position: absolute;
    animation: rotate360 1.2s ease infinite;
    width: 5px;
/*    margin: auto;*/
/*    transform: translate(-50%,-50%);*/
    animation-delay: calc(70ms * var(--d));
}

@keyframes rotate360 {
    0%{
/*        width: 5px;*/
        opacity: 0.5;
    }
    50%{
/*        width: 15px;*/
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        width: 5px;
    }

}
