*{
    padding: 0;
    margin: 0;
    
}
body{
    margin: auto;
}

.play-btn-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-checkbox {
    display: none;
}

.play-btn {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    cursor: pointer;
    position: relative;
}

.shape {
    width: 80px;
    height: 80px;
    position: absolute;
    transition: all 0.4s ease;
    background-color: #fff;
}

.square1 {
    top:59.5px;
    clip-path: polygon(20% 50%, 100% 50%, 20% 100%, 20% 50%);
}

.square2 {
    clip-path: polygon(20% 0%, 100% 50%, 20% 50%, 20% 0%);
}

#btn-checkbox:checked + label .square1 {
    top:60px;
    clip-path: polygon(10% 0%, 40% 0%, 40% 100%, 10% 100%);
}

#btn-checkbox:checked + label .square2 {
    clip-path: polygon(60% 0%, 90% 0%, 90% 100%, 60% 100%);
}
