body {
    margin: auto;
    font-family: sans-serif;
    font-weight: 600;
}

.btn-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-checkbox {
    display: none;
}

.button {
    background-color: #FF3918;
    width: 70px;
    height: 35px;
/*        border-radius: 50px;*/
    position: relative;
    transition: all 0.2s ease;
    overflow: hidden;
    border: 1px solid #eee;
    transform: scale(1.3);
}


.button::after {
    content: "OFF";
    position: absolute;
    background-color: white;
    width: 70px;
    height: 35px;
    transition: all 0.2s ease;
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    top: 0;
    bottom: 0;
    left: -15px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    color: #FF3918;
}

#btn-checkbox:checked + label .button {
    background-color: #4CCA61;
}

#btn-checkbox:checked + label .button::after {
    content: "ON";
    left: 10px;
    padding-left: 0px;
    padding-right: 10px;
    color: #4CCA61;
}
